* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: sans-serif;
}
.wrap {
  height: 100%;
  width: 100%;

  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-wrap {
  width: 380px;
  height: 580px;
  display: flex;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}
.button-wrap {
  width: 220px;
  height: 50px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 600px 9px #fcae8f;
  border-radius: 30px;
}
