.input-group {
  width: 100%;
  left: 50px;
  margin: 30px 0;
}

.login {
  width: 85%;
  padding: 10px 30px;
  margin: auto;

  cursor: pointer;
  display: block;

  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: '⚠ ';
}
