.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.submit {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}
